@value flexAlign from '@styles/style.css';

.content {
    position: relative;
    width: 525pt;
    flex-basis: 525pt;
    /*width: 350pt;
    flex-basis: 350pt;*/

    /*background-color: silver;*/
}