@value blue from '@styles/colors.css';

.logo {
    width: 175pt;
    flex-basis: 175pt;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.span {
    padding-left: 10pt;
    /*font-weight: bold;*/
    /*font-family: "Futura Bk BT";*/
    /*font-size: 16.5pt;*/
    font-size: 16.5pt;
    display: flex;
}

.colored {
    color: blue;
}