@value icon, icon10, icon27, filter from '@styles/common/icons.css';
@value lightGray, fontColor, gray, lightBlue, blue, blueFilter from '@styles/colors.css';
@value ml15 from '@styles/style.css';

.player {
    width: 700pt;
    z-index: 5;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50pt;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5pt 5pt 0 0;
    background-color: white;
    border: 2px solid lightGray;
    font-size: 9pt;
}

.leftBar {
    width: 165pt;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rightBar {
    width: 165pt;
    display: flex;
    align-items: center;
    margin-left: 15pt;
}

.container {
    display: flex;
    align-items: center;
    margin-right: 15pt;
}

.switch {
    composes: icon10;
    composes: filter;
    margin-left: 7.5pt;
    cursor: pointer;
}

.cover {
    composes: icon27;
    margin-left: 15pt;
    border-radius: 5pt;
}

.title {
    font-weight: bold;
}

.creator {
    font-family: "Open Sans Semibold";
    color: fontColor;
}

.playerIcon {
    composes: icon;
    composes: filter;
    margin-left: 7.5pt;
    cursor: pointer;
}

.active {
    filter: blueFilter;
}

