@value fontColor, blue, darkBlue from '@styles/colors.css';

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 350pt;
}

.container {
    width: 275pt;
    position: relative;
    margin: 0 10pt;
}

.input {
    position: absolute;
    appearance: none;
    width: 275pt;
    height: 1pt;
    border-radius: 5pt;
    outline: none;
    background-color: fontColor;
    cursor: pointer;
}

.input::-webkit-slider-thumb {
    appearance: none;
    height: 6pt;
    width: 6pt;
    border-radius: 50%;
}

.input:hover::-webkit-slider-thumb {
    transition: .2s ease-in-out;
    background-color: blue;
}

.progress {
    z-index: 1;
    position: absolute;
    height: 1pt;
    width: 210pt;
    background-color: darkBlue;
}
