@value hAlign from '@styles/style.css';

.main {
    composes: hAlign;
    width: 700pt;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-bottom: 150pt;
    /*background-color: #888888;*/
}