@value lightGray, fontColor, blue, darkBlue from '@styles/colors.css';
@value icon27 from '@styles/common/icons.css';

.container {
    width: 175pt;
    padding: 5pt 15pt;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.title {
    font-size: 13pt;

}

.bar {
    margin-top: 20pt;
    /*border: 1px solid lightGray;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.item {
    margin-bottom: 5pt;
    border-radius: 5pt;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 9pt;
}

.icon {
    composes: icon27;
    border-radius: 50%;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 5pt;
    word-wrap: normal;
    max-width: 65pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.username:hover {
    color: fontColor;
    text-overflow: ellipsis;
}

.status {
    color: fontColor;
    text-overflow: ellipsis;
}

.follow {
    margin-left: auto;
    background-color: blue;
    padding: 2.5pt 4pt;
    color: white;
    border-radius: 5pt;
    font-size: 8pt;
    cursor: pointer;
}

.follow:hover {
    background-color: darkBlue;
}