.icon {
    object-fit: cover;
    height: 15pt;
    width: 15pt;
}

.icon10 {
    object-fit: cover;
    height: 10pt;
    width: 10pt;
}

.icon27 {
    object-fit: cover;
    height: 27pt;
    width: 27pt;
}

.avatar {
    object-fit: cover;
    border-radius: 50%;
    height: 32.5pt;
    width: 32.5pt;
}

.filter:hover {
    filter: invert(30%) sepia(52%) saturate(3843%) hue-rotate(205deg) brightness(99%) contrast(85%);
}