@value icon10, filter from '@styles/common/icons.css';
@value gray, lightGray, fontColor from '@styles/colors.css';

.sort {
    position: relative;
    outline: none;
    border: none;
    font-size: 9pt;
    /*font-weight: bold;*/
    color: fontColor;
    cursor: pointer;
}

.select {
    padding: 5pt;
    border-radius: 5pt;
    background-color: lightGray;
    display: flex;
    align-items: center;
}

.select span {
    margin-left: 5pt;
    /*font-family: "Open Sans Semibold";*/
}

.select:hover {
    background-color: gray;
}

.list {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 5pt;
    background-color: lightGray;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.list span {
    padding: 5pt;
    border-radius: 2.5pt;
    /*font-family: "Open Sans Semibold";*/
}

.list span:hover {
    background-color: gray;
}

.sort:hover .list {
    visibility: visible;
}

.sort:hover .select {
    background-color: gray;
}