* {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background-color: #fff;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hAlign {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.vAlign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.mt30 {
    margin-top: 30px;
}
