* {
    margin: 0;
    /*font-family: "Raleway Medium", sans-serif;*/
    /*font-family: "Roboto Condensed", sans-serif;*/
    font-family: 'Gilroy Semibold', sans-serif;
    /*font-family: "Open Sans";*/
}

body {
    background-color: #fff;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

input:active {
    outline: none;
}

hr {
    border: none;
    border-bottom: 1px solid lightgray;
}

.align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hAlign {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.vAlign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flexAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt30 {
    margin-top: 30px;
}

.ml15 {
    margin-left: 15pt;
}
